.left-side{
  background-color: rgb(61, 63, 66);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lamentin{
  width: 250px;
  height: 250px;
  margin: 5px;
}

.left-text{
  color: white;
  font-size: 25px;
}

.inputcenter:focus {
  border: 2px solid rgba(112, 255, 124, 0.808);
}

.form-control:focus {
  border: 2px solid rgba(112, 255, 124, 0.808);
}

#errorMessage{
  display: none;
}